@import "tailwindcss";
/* src/index.css */
@import "tailwindcss";

@theme {
  --font-sans: 'Inter', sans-serif;
  --font-km: 'Kantumruy Pro', sans-serif;
}

html[lang="km"] {
  --font-sans: 'Kantumruy Pro', sans-serif;
}

body {
  font-family: var(--font-sans);
  font-feature-settings: "cv02", "cv03", "cv04", "cv11"; /* Inter legibility enhancements */
}